https://github.com/wazo-pbx/xivo-confd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-auth-client/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
alembic==0.8.8
psycopg2==2.6.2  # from alembic revision script
sqlalchemy==1.0.15  # from alembic revision script
unidecode==0.04.19  # from alembic revision script
click
fabric
pyhamcrest
irc
jinja2
marrow.mailer
jenkins-webapi
requests
sh
transifex-client
twitter
