{{ bugs|past_plural('bug') }} fixed and {{ features|past_plural('feature') }} added since XiVO {{ version }}.

The complete list of features and fixes is available at https://projects.xivo.io/versions/{{ version_id }}
As usual, you must upgrade your XiVO by following this procedure: http://documentation.xivo.io/stable/upgrade/upgrade.html

XiVO tests report (french version) can be consulted here:
http://mirror.xivo.io/iso/archives/xivo-{{ version }}/tests-report-xivo-manual-{{ version }}.html (manual tests)
http://mirror.xivo.io/iso/archives/xivo-{{ version }}/tests-report-xivo-auto-{{ version }}.html (automatic tests)

{{ title('XiVO Client') }}

The client can be downloaded from the following links:
* Debian 32 bits: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-i386.deb
* Debian 64 bits: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-amd64.deb
* Ubuntu 12.04 32 bits: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-ubuntu-12.04-i386.deb
* Ubuntu 12.04 64 bits: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-ubuntu-12.04-amd64.deb
* Ubuntu 13.10 32 bits: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-ubuntu-13.10-i386.deb
* Ubuntu 13.10 64 bits: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-ubuntu-13.10-amd64.deb
* Windows: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}-x86.exe
* Mac OS: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivoclient-{{ version }}.dmg

{{ title('Download') }}

You can download the ISO here: http://mirror.xivo.io/iso/archives/xivo-{{ version }}/xivo-{{ version }}.iso

Instructions to install XiVO: http://documentation.xivo.io/production/installation/installsystem.html

{{ title('Documentation') }}

You can consult the documentation in one of the following formats:
* online (HTML version): http://documentation.xivo.io/
* PDF: http://documentation.xivo.io/pdf
* ePub: http://documentation.xivo.io/epub/

Thank you.

