git+https://github.com/wazo-platform/xivo-dao
git+https://github.com/wazo-platform/xivo-lib-python  # from xivo-dao
alembic==1.0.0
docker-compose
migra[pg]
sh
sqlalchemy==1.2.18
sqlalchemy-utils==0.32.21
unidecode==1.0.23  # from alembic scripts
