git+https://github.com/wazo-platform/xivo-dao
git+https://github.com/wazo-platform/xivo-lib-python
alembic==1.0.0
docker-compose
migra[pg]
psycopg2==2.7.7
pyyaml==3.13
sh
six
sqlalchemy==1.2.18
sqlalchemy-utils==0.32.21
unidecode==1.0.23
