Source: xivo-tools
Section: admin
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python-all (>=2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-dev-scripts
Architecture: all
Pre-Depends: xivo-libdao (>=14.08~), xivo-manage-db
Depends: ${python:Depends}, ${misc:Depends}
Description: Wazo devops tools
 This package provide Wazo tools
