{{ title('Sprint Review ' + version) }}

#################################################################
################## Put the sprint review here ###################
#################################################################

{{ bugs|past_plural('bug') }} fixed, {{ features|past_plural('feature') }} added and {{ technicals|past_plural('technical issue') }} resolved since Wazo {{ old_version }}. The complete list of features and fixes is available at http://projects.wazo.community/versions/{{ version_id }}

{{ title('Upgrade') }}

As usual, upgrading your Wazo must be done by following this procedure: http://documentation.wazo.community/en/stable/upgrade/upgrade.html

{{ title('Install') }}

Instructions to install Wazo: http://documentation.wazo.community/en/stable/installation/installsystem.html
You can download the ISO here:
* 32-bit: http://mirror.wazo.community/iso/archives/wazo-{{ version }}/wazo-{{ version }}-i386.iso
* 64-bit: http://mirror.wazo.community/iso/archives/wazo-{{ version }}/wazo-{{ version }}-amd64.iso

The client can be downloaded from the following links:
* Debian/Ubuntu 32 bits: http://mirror.wazo.community/iso/archives/wazo-{{ version }}/xivoclient-{{ version }}-i386.deb
* Debian/Ubuntu 64 bits: http://mirror.wazo.community/iso/archives/wazo-{{ version }}/xivoclient-{{ version }}-amd64.deb
* Windows: http://mirror.wazo.community/iso/archives/wazo-{{ version }}/xivoclient-{{ version }}-x86.exe
* Mac OS: http://mirror.wazo.community/iso/archives/wazo-{{ version }}/xivoclient-{{ version }}.dmg

{{ title('Documentation') }}

You can consult the documentation in the following formats:
* online (HTML version): http://documentation.wazo.community/
* PDF: https://media.readthedocs.org/pdf/wazo/stable/wazo.pdf
* ePub: https://media.readthedocs.org/epub/wazo/stable/wazo.epub

{{ title('Tests reports') }}

Wazo tests report (french version) can be consulted here:
http://mirror.wazo.community/iso/archives/wazo-{{ version }}/tests-report-wazo-manual-{{ version }}.html (manual tests)
http://mirror.wazo.community/iso/archives/wazo-{{ version }}/tests-report-wazo-auto-{{ version }}.html (automatic tests)

See you for the next sprint review.
