<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="fr">
<head>
    <title>LoadMonitor V2</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id=header>
        <h1>Load Monitor V2 - {{ server }}</h1>
    </div>
    <div id=status>
        <table width=100%><tr><td width=50% align=left>
            <b>Appels simultannés :: {{ simultaneous_calls }} &nbsp --- Appels passés :: {{ total_calls }}</b>
        </td><td width=50% align=right>
            Status : <b>{{ test_status }}</b>
        </td></tr></table>
    </div>
    <div id=body>
        <div id=menu>
            <div id=selectserver>
                <b>Servers :</b><br />
                <ul>
                    {% for srv in server_list %}
                        {% if srv[0] == server %}
                            <b>
                        {% endif %}
                        <li><a href=http://load-monitor-2/ServerSelect/{{ srv[0] }}>{{ srv[0] }}</a></li>
                        {% if srv[0] == server %}
                            </b>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id=actions>
                <b>Actions :</b><br />
                <br />&nbsp;
                <a href="{{ url_for('add_server') }}">Add a server</a>
            </div>
        </div>
        <div id=graphs>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
